<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css"/>
        <script>
        
        $(document).ready(function(){
            $(".removeItem").on("click", function(event){
                
                if(!confirm("Delete item?"))
                {
                    event.preventDefault();//prevents default behavior of the links
                }
                
            });//click
            
        });//document ready
        
        
        </script>
    </head>
    <body>
        
        <h1> Admin Section </h1>
        <h2>
            
        <form action="/logout">
          <button> Logout </button>
        </form>
        
        <form action="/restaurant/new">
          <button> Add New Item </button>
        </form>
        
        <form action="/admin-deliveries">
          <button> Go to Deliveries </button>
        </form>
        
               <h2><%=items%></h2>
        
        <% foodProducts.forEach(function(products){  %>
        <h4>
            
            <!--<image src= //products.imageLink %> ></image>-->
            <%= products.name %>
            [<a href="/restaurant/<%=products.restaurantId%>/edit">UPDATE</a>] 
            [<a href="/restaurant/<%=products.restaurantId%>/delete">DELETE</a>] 
            <br>
        </h4>
        <% }); %>
        
       
        <% /*})*/ %>
        
        </h2>

         </form>       
        <form action="/logout">
          <h2><button id="back"> Back </button></h2>
        </form>

    </body>
</html>