<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 </head>
<body>
<div class='container'>
    <div class='jumbotron'>
        <h3> Restaurant Details</h3>
        <a class='btn btn-primary' href='/'>Home</a>
    </div>
    <div class='row'>
        <%if(!restaurant){%>
            <h1 class='col-sm-12 nofound'>CANNOT FIND MENU ITEM (try again)!!!</h1>    
        <%}
        else{%>
            <div class='col-sm-4 info'>
              <h3><%=restaurant.name%></h3>
              <div>Type: <%=restaurant.type%></div>
              </div>Menu: <%=restaurant.menu%></div>
              
              <a href='/restaurant/<%=restaurant.restId%>'><h2>Restaurant</h2></a>
              
            </div>
        <%}%>
    </div>
</div>

</body>
</html>

